@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Utilities */
.blue {
    color: cyan;
}

/* .content-heading {
    font-size: 50px;
    text-align: center;
    color: white;
    padding: 80px 100px;
} */
/* Element based  */
body {
    margin: 0;
    padding: 0;
    background-color: #1d0149;
    /* width: 98vw; */
}

* {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    background-color: #1d0149;
    margin: 0;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1d0149; */
    color: cyan;
    font-size: 17px;
    z-index: 1;
    /* box-shadow: 16px 0px 16px 8px rgba(0, 0, 0, 0.4); */
}

.logo {
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    animation: slideRight 1s ease forwards;
    transition: all 0.2s ease-in;
}

.logo:hover {
    text-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.nav-list ul {
    list-style: none;
    text-align: center;

}

.nav-list ul li {
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
}

.nav-list ul li a {
    display: block;
    text-decoration: none;
    color: cyan;
    text-transform: uppercase;
    border: none;
    /* transition: border 0.2s ease-in; */
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}


.nav-list ul li a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
}

.nav-list ul li a:hover::after {
    width: 100%;
    background: cyan;
}

.top-content {
    background-color: #1d0149;
    height: 110vh;
    /* background-color: #ffcc70; */
}

.left-content {
    float: left;
    max-width: 50vw;
    /* background-image: linear-gradient(to top right,#ffcc70,#c850c0,#4158D0); */
}

.left-content h1 {
    padding: 100px 20px 10px 100px;
    color: white;
    font-size: 50px;
    font-weight: 400;
    /* animation: slideRight 1s ease forwards; */
}

.right-content {
    max-width: 50vw;
    float: right;
}

.right-content img {
    position: relative;
    top: 50%;
    right: 50%;
    border-radius: 50%;
    height: 50vh;
    width: 50vh;
    margin-top: 15vh;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
    /* animation: slideLeft 1s ease forwards; */
}

.icons {
    position: relative;
    left: 15%;
    margin: 30px 0;
    font-size: 30px;
}

.icons i {
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    color: cyan;
    margin: 0 10px;
    border: 2px solid cyan;
    transition: all 0.2s ease-in;
    /* animation: slideRight 1s ease forwards; */
    animation-delay: calc(0.2s*var(--i));
}

.btn {
    cursor: pointer;
    position: relative;
    left: 15%;
    margin: 0 10px;
    padding: 20px 30px;
    background-color: transparent;
    border: 1px solid cyan;
    color: cyan;
    font-size: 20px;

    /* animation: slideRight 1s ease forwards; */
    transition: all 0.2s ease-in;
}


.btn:hover,
.icons i:hover {
    background-color: cyan;
    color: #1d0149;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
    transform: translateY(-4px);
}

.about{
    /* background-color: #1d0149; */
    height: 100vh;
}

.about h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}

.about .left-content img {
    margin: 150px 200px;
    border-radius: 50%;
    height: 40vh;
    width: 40vh;
    /* margin-top: 15vh; */
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
    /* animation: slideRight 1s ease forwards; */
}

.about .right-content {
    margin-top: 20px;
    /* animation: slideLeft 1s ease forwards; */
}

.about .right-content h1 {
    font-size: 30px;
}

.about .right-content h1::after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
}

.about .right-content h1:hover::after {
    width: 40%;
    background: cyan;
}

.about .right-content p {
    color: white;
    text-align: left;
    line-height: 35px;
    margin: 50px;
    font-size: 25px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.content-heading h1 {
    font-size: 50px;
    text-align: center;
    color: white;
    padding: 80px 100px;
}

.skills-container {
    width: 100%;
    height: 500px;
    padding: 75px 90px;
    /* margin-left: 120px; */

}

.skills-container:nth-child(1){
    margin-left: 120px;
}

.radial-bars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
    /* width: 100vw; */
    height: 100vh;
    /* height: 500px;
    padding: 75px 90px;
    margin-left: 120px; */

}

.skills-container h1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 23px;
}

.technical-bars .bar{
    margin-top: 40px 0;
    
}

.technical-bars .bar:first-child{
    margin-top: 0;
}

.technical-bars .bar:last-child{
    margin-bottom: 0;
}

.technical-bars .bar .info{
    margin-bottom: 5px;
}

.technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    /* animation: showText 0.2s 1s linear forwards; */
    opacity: 0;
}

.technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    /* animation: animateBar 1s ease-in forwards; */
    width: 0;
}



.technical-bars .bar .progress-line span{
    height: 100%;
    background-color: cyan;
    position: absolute;
    border-radius: 10px;
    transform-origin: left;
    width: 0;
}



.html span{
    /* animation: html-bar 1s ease-in-out forwards; */
    animation-delay: 1s;
}


.css span{
    /* animation: css-bar 1s ease-in-out forwards; */
    animation-delay: 1s;
}



.javascript span{
    /* animation: js-bar 1s ease-in-out forwards; */
    animation-delay: 1s;
}



.python span{
    /* animation: python-bar 1s ease-in-out forwards; */
    animation-delay: 1s;
}


.react span{
    /* animation: react-bar 1s ease-in-out forwards; */
    animation-delay: 1s;
}



.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s ease forwards;
    opacity: 0;
}

.html span::after{
    content: "90%";
}

.css span::after{
    content: "75%";
}

.javascript span::after{
    content: "60%";
}

.python span::after{
    content: "80%";
}
.react span::after{
    content: "20%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.radial-bars {
    width: 50%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0px;
} 
.radial-bars .radial-bar{
    width: 100%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
    
}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%) ;
    transform: rotate(270deg);
    width: 160px;
    height: 220px;
    
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    /* animation: animate-radial 1s linear forwards;  */
}



.path {
    stroke-width: 10;
    stroke: cyan;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;

}

/* .path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
    animation: animate-path4 1s 1s linear forwards;
} */





.radial-bar .percentage {
    color: white; 
    position: absolute;
    top: 115%;
    left: 34%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    /* animation: showText 0.5s 1s linear forwards; */
    opacity: 0;
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 30%;
    bottom: -5px;
    transform: translateX(-50px);
}

.projects {
    height: 100vh;
}

.container {
    margin-top: 200px;
}

.container h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: center;
}

.card-container {
    width: 25%;
    margin: 20px;
    padding: 20px;
    border: 2px solid cyan;
    color: cyan;
    border-radius: 16px;
    transform: translateY(0);
    transition: all 0.2s ease-in;
}

.card-container:hover{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
    background: linear-gradient(#1d0149,cyan);
    color: #1d0149;
    transform: translateY(-10px);
}

.card-container img{
    width: 100%;
    height: 150px;
    border: 1px solid cyan;
    border-radius: 12px;
}

.card-container .card-text{
    padding: 20px 0;
    
}

.card-container .card-text h6{
    font-size: 20px;
}

.labels {
    display: flex;
    font-size: 12px;
}

.label {
    margin: 10px 5px;
    padding: 4px 8px;
    background-color: cyan;
    border: none;
    border-radius: 12px;
    color: #1d0149;
}


.card-container button{
    /* border: 1px solid #1d0149; */
    border: none;
    font-size: 15px;
    text-align: center;
    background-color: #1d0149;
    border: 2px solid cyan;
    color: cyan;
    cursor: pointer;
    padding: 8px 10px;
    margin: 10px 4px;
    transition: all 0.2s ease-in;
}


.card-container button:hover{
    border: 2px solid #1d0149;
    background-color: cyan;
    color: #1d0149;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.card-container button a{
    text-decoration: none;
    color: #1d0149;
}

.contact{
    display: flex;
    grid-template-columns: repeat(2,ifr);
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-left: 30px;
    
    color: white;
}

.contact-text,.contact-form{
    width: 45%;
}

#contact {
    height: 110vh;
}

#contact h1{
    margin-top: 150px;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    font-size: 50px;
}

.contact-text h4{
    margin-bottom: 40px;
    font-size: 30px;
}

.contact-text p{
    color: rgb(177,177,177);
    line-height: 30px;
    margin-bottom: 2rem;
    font-size: 20px;
}

.contact-list {
    margin-bottom: 3rem;
}
.contact-list li{
    color: cyan;
    list-style: none;
    margin-bottom: 10px;
}

.contact-form{
    border: none;
    border-radius: 16px;
    background-color: #0d021f;
    padding: 20px;
}

.contact-form form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form form input, form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background-color: #0d021f;
    border-bottom: 1px solid cyan;
    color: white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in;
}

.contact-form form input:focus, form textarea:focus{
    transform: translate(-4px,-8px);
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    color: cyan;
}

.contact-form textarea{
    resize: none;
    height: 220px;
}

.contact-form form .send{
    width: 20%;
    border: none;
    font-size: 15px;
    text-align: center;
    background-color: cyan;
    border-radius: 12px;
    color: #1d0149;
    cursor: pointer;
    padding: 8px 10px;
    margin: 10px 4px;
    transition: all 0.2s ease-in;
}

.contact-form form .send:hover{
    border: 2px solid cyan;
    background-color: #1d0149;
    color: cyan;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

/* Animations */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;

    }
}

@keyframes slideUp {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideDown {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

@keyframes animate-path1 {
    100%{
        stroke-dashoffset: 50;;
    }
}
@keyframes animate-path2 {
    100%{
        stroke-dashoffset: 200;;
    }
}
@keyframes animate-path3 {
    100%{
        stroke-dashoffset: 75;;
    }
}
@keyframes animate-path4 {
    100%{
        stroke-dashoffset: 75;;
    }
}
@keyframes animate-radial {
    100%{
        stroke-dashoffset: -1;
    }
}

@keyframes animateBar {
    100%{
        width: 100%;
    }
}

@keyframes html-bar {
    0% {
        width: 0;
    }
    100%{
        width: 90%;
    }
}


@keyframes css-bar {
    0% {
        width: 0;
    }
    100%{
        width: 75%;
    }
}

@keyframes js-bar {
    0% {
        width: 0;
    }
    100%{
        width: 60%;
    }
}

@keyframes python-bar {
    0% {
        width: 0;
    }
    100%{
        width: 80%;
    }
}

@keyframes react-bar {
    0% {
        width: 0;
    }
    100%{
        width: 20%;
    }
}

/* media queries */
@media (prefers-reduced-motion: no-preference){
    .about-right-content-animation{
        animation: slideLeft 1s ease forwards;
    }
    .about-left-content-animation{
        animation: slideRight 1s ease forwards;
    }
    .progress-bar-animation{
        animation: animateBar 1s ease-in forwards;
    }
    .progress-text-animation{
        animation: showText 0.2s 1s linear forwards;
    }
    .html-animation{
        animation: html-bar 1s ease-in-out forwards;
    }
    .css-animation{
        animation: css-bar 1s ease-in-out forwards;
    }
    .javascript-animation{
        animation: js-bar 1s ease-in-out forwards;
    }
    .python-animation{
        animation: python-bar 1s ease-in-out forwards;
    }
    .react-animation{
        animation: react-bar 1s ease-in-out forwards;
    }
    .progress-line-after-animation{
        animation: showText 0.5s 1.5s ease forwards;
    }
    .progress-line-before-animation{
        animation: showText 0.5s 1.5s linear forwards;
    }
    .radial-bar-animation{
        animation: animate-radial 1s linear forwards;
    }
    .path-1-animation {
        animation: animate-path1 1s 1s linear forwards;
    }
    
    .path-2-animation {
        animation: animate-path2 1s 1s linear forwards;
    }
    .path-3-animation {
        animation: animate-path3 1s 1s linear forwards;
    }
    .path-4-animation {
        animation: animate-path4 1s 1s linear forwards;
    }
    .percentage-animation{
        animation: showText 0.5s 1s linear forwards;
    }
    .project-list-animation{
        animation: slideUp 1s ease-in forwards;
    }
    .contact-text-animation{
        animation: slideUp 0.5s ease-in forwards;
    }
    .contact-form-animation{
        animation: slideDown 0.5s ease-in forwards;
    }
}